<div class="about-container">
    <h2>About Me</h2>
    <div class="flex-about">
        <div class="about-text">
            <p>
                I am an expert problem solver, a seasoned software engineer (7+ years), a curious tinkerer and an avid traveler. I have designed and/or developed multiple systems (mostly security oriented) serving hundreds of thousands of users and also participated in development and administration of a system for millions. I use mostly Java, Docker and Linux VPS.
            </p>
            <p>
                I love state-of-the-art technologies, clever solutions, new things and various gadgets. I definitely prefer future-oriented approach and I believe in ease of use of any machine and I can help to achieve that. I am also a fan of open source solutions.
            </p>
        </div>
        <div class="about-img">
            <Image src='/assets/about.jpg' class="profile-img" alt="Petr with friends on top of an active volcano in Nicaragua." title="Petr with friends on top of an active volcano in Nicaragua." />
        </div>
    </div>
</div>
