<div class="skills-container">
    <h2>Skills</h2>
    <div class="grid-skills">
        <div class="skill-card java">
            <i class="fa-brands fa-java java-icon"></i>
            <p>Java</p>
        </div>
        <div class="skill-card linux">
            <i class="fa-brands fa-linux linux-icon"></i>
            <p>Linux</p>
        </div>
        <div class="skill-card js">
            <i class="fa-brands fa-js-square js-icon"></i>
            <p>JavaScript</p>
        </div>
        <div class="skill-card react">
            <i class="fa-brands fa-react react-icon"></i>
            <p>React</p>
        </div>
        <div class="skill-card docker">
            <i class="fa-brands fa-docker docker-icon"></i>
            <p>Docker</p>
        </div>
        <div class="skill-card python">
            <i class="fa-brands fa-python python-icon"></i>
            <p>Python</p>
        </div>
    </div>
</div>
